<html>
<title>Vigeo Welcome</title>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body id="body">
<div class="container">
			<div class="jumbotron">
				<h1>
					<font color="orange">Vi</font><font color="green">geo</font>
				</h1>
				<p>
					Καλωσήρθατε στο Vigeo. Την εφαρμογή που κάνει την<br/>
					εκμάθηση της γεωγραφίας παιχνίδι!
				</p>
				 <form action="" method="POST" class="form-signin">
                <input name="username" type="text" class="form-control" placeholder="Όνομα" required autofocus><br/>
                <input name="password" type="password" class="form-control" placeholder="Κωδικός" required><br/>
                {% csrf_token %}
                <button class="btn btn-info btn-large" type="submit">
                    Είσοδος</button><br/>
                </form>
			</div>
</div>
</body>
</html>
