{% extends "school/base.html" %}

{% block content%}
<h2>Κατηγορίες Μαθημάτων</h2>
    <br />
    <br />
    {% for category in categories %}
        
      {% for key, value in data.items %}
        {% if key == category.id%}
          {% if value <= -2 %}
            <div id='review' style="color:red">Χρειάζεται Επανάληψη</div>
           {% endif %}
        {% endif %}
      {% endfor %}
       <h2><span class="label label-info"><a style="color:white" href="{% url "school_lesson_menu" %}?cat_id={{ category.id }}">{{ category.name }}</a></span></h2>
        <br />
        <br />
    {% empty %}
        No categories available
    {% endfor %}
{% endblock %}
