{% extends "school/base.html" %}

{% block content%}
 <div class="panel panel-info">
	  <div class="panel-heading">
              <h2 lass="panel-title">{{category.name}}</h2>
              </div><br/>
    {% for lesson in lessons %}
    
               <h2><span class="label label-info"><a style="color:white" href="{% url "school_detailed_lesson" %}?lesson_id={{lesson.id}}&cat_id={{ cat_id }}">
            {{ lesson.title }}
        </a>&nbsp&nbsp</span></h2>

        <br />
        <br />
    {% empty %}
        <b>Δεν υπάρχουν διαθέσιμα μαθήματα σε αυτή την κατηγορία</b>
    {% endfor %}
     <div class="panel panel-default">
		 <br/>
    <a href="{% url "school_category_menu" %}"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Πίσω</a>
		<br/><br/>

{% endblock %}
